<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/meals">Halp Meals</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link"  routerLink="/menus" routerLinkActive="active">Menus</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/dishes" routerLinkActive="active">Dishes</a>
      </li>
    </ul>

    <div class="navbar-box" id="navbar-box-search">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button type="button" class="btn btn-outline-success">Search</button>
        </form>
    </div>

    <div class="navbar-box">
        <button (click)="openNewMenuModal(content)" type="button" class="btn btn-primary">+ Add Menu</button>
    </div>

    <div class="navbar-box" id="navbar-box-avatar">
        <img src="https://pbs.twimg.com/profile_images/551436089064296449/2tLSNqig.jpeg" class="rounded-circle navbar-item" id="image-avatar-navbar">
    </div>
    
    <div class="navbar-box" id="navbar-box-logout-icon">
        <a routerLink="../auth" routerLinkActive="active"> 
            Logout
        </a>
    </div>

  </div>
</nav>

<app-menus-grid [menu]='menu'></app-menus-grid>

<template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Add new menu</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="id">ID</label>
        <input type="number" class="form-control" id="id" required>
      </div>
      <div class="form-group">
        <label for="title">Date</label>
        <input type="date" class="form-control" id="date" required>
      </div>
      <div class="form-group">
        <label for="title">Starters</label>
        <input type="text" class="form-control" id="starters" required>
      </div>
      <div class="form-group">
        <label for="title">Main dishes</label>
        <input type="text" class="form-control" id="main-dishes" required>
      </div>
      <div class="form-group">
        <label for="title">Desserts</label>
        <input type="text" class="form-control" id="dessert" required>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    <button type="button" class="btn btn-success" (click)="c('Close click')">Save</button>
  </div>
</template>
