
#button-register {
    position: fixed;
    left: 50%;
    transform: translate(0, +5%);
}

#login {
    position: fixed;
    left: 30%;
    top: 20%;
}

#username {
 width: 30%;
}

#pass {
 width: 30%;
}

.button-box {
    margin-bottom: 0.5em;
}
