<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/orders">Halp Orders</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/orders">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>

    <div class="navbar-box" id="navbar-box-avatar">
        <img src="https://pbs.twimg.com/profile_images/725383091531960322/J9Bo2ljZ.jpg" class="rounded-circle navbar-item" id="image-avatar-navbar">
    </div>
    
    <div class="navbar-box" id="navbar-box-logout-icon">
        <a routerLink="../auth" routerLinkActive="active"> 
            Logout
        </a>
    </div>

  </div>
</nav>

<div>
  <div class="content" >
    <div style="margin-bottom: 30px">
      <h4>Pending</h4>
      <app-orders-list [orders] = 'ordersPending'></app-orders-list>
    </div>

    <div style="margin-bottom: 30px">
      <h4>Completed</h4>
      <app-orders-list [orders] = 'ordersCompleted'></app-orders-list>
    </div>
  </div>
</div>
