<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/books">Halp Books</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/books">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>

    <div class="navbar-box">
        <button (click)="openNewBookModal(content)" type="button" class="btn btn-primary">+ Add Book</button>
    </div>

    <div class="navbar-box" id="navbar-box-logout-icon">
        <a routerLink="/" routerLinkActive="active">
            Logout
        </a>
    </div>

  </div>
</nav>

<app-books-grid [newBook]='newBook'></app-books-grid>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Add new book</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        <input #title type="text" class="form-control" id="title" required>
      </div>
      <div class="form-group">
        <label for="author">Author</label>
        <input #author type="text" class="form-control" id="author" required>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea #description type="text" class="form-control" id="description" required></textarea>
      </div>
      <div class="form-group">
        <label for="image">Image</label>
        <input #image type="text" class="form-control" id="image" required>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    <button type="button" class="btn btn-success" (click)="onSubmit(title.value, author.value,
        description.value, image.value); c('Close click')">Add</button>
  </div>
</ng-template>
