<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/books">Halp Books</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/books">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    
    <div class="navbar-box" id="navbar-box-search">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button type="button" class="btn btn-outline-success">Search</button>
        </form>
    </div>

    <div class="navbar-box">
        <button type="button" class="btn btn-primary">+ Add Book</button>
    </div>

    <div class="navbar-box" id="navbar-box-avatar">
        <img src="https://pbs.twimg.com/profile_images/551436089064296449/2tLSNqig.jpeg" class="rounded-circle navbar-item" id="image-avatar-navbar">
    </div>
    
    <div class="navbar-box" id="navbar-box-logout-icon">
        <a routerLink="../auth" routerLinkActive="active"> 
            <img src="../../assets/icons/login-square-arrow-button-outline.svg" class="navbar-icon" id="navbar-icon-logout">
        </a>
    </div>

  </div>
</nav>

<app-books-grid></app-books-grid>
