.book-image {
    max-height: 100%;
}

.book-image-box {
    height: 200px;
    width: 200px;
    text-align: center;
}

card {
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
