#button-login {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#button-register {
    position: fixed;
    top: 15%;
    left: 80%;
    transform: translate(-50%, -50%);
}
