
#button-login {
    position: fixed;
    left: 50%;
    transform: translate(0, +5%);
}



#signup-form {
    position: fixed;
    left: 30%;
    top: 20%;
}

#name {
 width: 30%;
}

#username {
 width: 30%;
}

#pass {
 width: 30%;
}

#pass2 {
 width: 30%;
}

#adm {
 width: 30%;
}
