<div class="card">
  <div class="patient-image-box">
    <img class="card-img-top patient-image" [src]='patient.image' alt="Card image cap">
  </div>
  <div class="card-block">
    <h4 class="card-title">{{ patient.id }} {{ patient.name }}</h4>
    <p class="card-text">{{ patient.description }}</p>
    <button (click)="edit()" type="button" class="btn btn-primary">
      <i class="fa fa-pencil" aria-hidden="true"></i> Edit
    </button>
    <button (click)="delete()" type="button" class="btn btn-danger">
      <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
    </button>
  </div>
</div>
